.swiper.partnersSlider {
  width: 328px !important;
  height: 272px !important;
  padding-bottom: 40px !important;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide.partnersSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px !important;
  height: 66px !important;
}

.swiper-pagination {
  bottom: -6px !important;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: var(--yellow-light);
  opacity: 1;
}

.partnersSlider .swiper-pagination-bullet-active {
  background-color: var(--green-dark);
}
